# Configuración de MySQL
MYSQL_ROOT_PASSWORD=your_root_password_here
MYSQL_DATABASE=your_database_name
MYSQL_USER=your_app_user
MYSQL_PASSWORD=your_app_password

# Configuración del contenedor
MYSQL_PORT=3306
CONTAINER_NAME=mysql8_custom

# Configuración de red
NETWORK_NAME=mysql_network

# Configuración de volumen
VOLUME_NAME=mysql_data